<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/layout_company">
<head>
    <title>.:: ad-extreme ::. - user</title>
</head>
<th:block layout:fragment="conteudo">
    <div class="col-md-offset-2 col-md-8">
        <h1>Anúncios</h1>
        <!-- Text input-->
        <div>
                <form th:action="@{filtrar}" method="post" id="filterForm">
                    <input type="hidden" th:value="${usuario.id}" name="idUsuario"></input>
                    <h4>Mostrar apenas meus anúncios:</h4>
                    <input type="checkbox" name="showOwned"></input>
                    <h4>
                    A partir da data:
                    </h4>
                    <input type="date" name="fromDate" required="true"/>
                    <h4>
                    Até a data:
                    </h4>
                    <input type="date" name="toDate" required="true"/>
                    <h4>
                    Tipo de anúncio:
                    </h4>
                    <select name="type" form="filterForm">
                        <option value="todos">Todos</option>
                        <option value="movel">Móveis</option>
                        <option value="imovel">Imóveis</option>
                        <option value="emprego">Empregos</option>
                        <option value="servico">Serviços</option>
                    </select>
                    <button type="submit" class="btn btn-success">Filtrar</button>
                </form>
            </div>
        <div th:if="${anuncios.isEmpty()}">
            <h4>Nenhum Anúncio listado</h4>
        </div>
        <div th:if="${anuncios != null}" class="table-responsive">
            <table style="width:100%" class="table table-bordered">
                <tr>
                    <th>Titulo</th>
                    <th>Tipo</th>
                    <th>Postado</th>
                    <th align="right">Preço</th>
                    <th>Ação</th>
                </tr>

                <th:block th:each="item : ${anuncios}">
                    <tr>
                        <td align="center" th:text="${item.titulo}"></td>
                        <td align="center" th:text="${#strings.toUpperCase(item.tipo)}"> - </td>
                        <td align="center" th:text="${item.dataDeCriacao}"> - </td>
                        <td align="center" th:text="${'R$ ' + #numbers.formatDecimal(item.preco, 0, 'COMMA', 2, 'POINT')}">0.00</td>
                        <td>
                            <form th:action="@{comprar/anuncio}" method="post">
                                <input type="hidden" th:value="${item.id}" name="idAnuncio"/>
                                <button type="submit" class="btn btn-success">Comprar</button>
                            </form>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
</th:block>
</html>