    <!DOCTYPE html>
    <html
            xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorator="layout/layout_user">
    <head>
        <title>.:: ad-extreme ::. - user</title>
    </head>
    <th:block layout:fragment="conteudo">
        <div class="col-md-offset-2 col-md-8">
            <h1>Anúncios</h1>
            <!-- Text input-->
            <div>
            <form th:action="@{filtrar}" method="post" id="filterForm">
            	<table style="width:100%" class="table table-bordered">
            	<input type="hidden" th:value="${usuario.id}" name="idUsuario"></input>
            		<div class="form-group">
            			<label class="col-md-4 control-label" for="showOwned">Mostrar apenas meus anúncios:</label>
	                    <input type="checkbox" name="showOwned"></input>
	            	</div>
	            	<div class="form-group">
            			<label class="col-md-4 control-label" for="fromDate">A partir da data:</label>
	                    <input type="date" name="fromDate" required="true"/>
	            	</div>
	            	<div class="form-group">
            			<label class="col-md-4 control-label" for="toDate">Até a data:</label>
	                    <input type="date" name="toDate" required="true"/>
	            	</div>
	            	<div class="form-group">
            			<label class="col-md-4 control-label" >Tipo de anúncio:</label>
                        <th:block th:object="${anuncioForm}">
                            <label for="radios-0" th:each="tipoAnuncio : ${tiposAnuncio}">
                                <input type="radio" name="type" id="radios-0" th:value="${tipoAnuncio}" required="true" />
                                <p th:text="${tipoAnuncio.getName()}"></p>
                            </label>
                         </th:block>
	            	</div>
	                    <button type="submit" class="btn btn-info">Filtrar</button>
	                    	</table>
            	</form>
	            	<form th:action="@{resetFilter}" method="get" id="redirectFilterForm">
	                	<button type="submit" class="btn btn-warning">Resetar Filtros</button>
	            </form> 
	            <p></p>               
            </div>
            <div th:if="${anuncios.isEmpty()}">
                <h4>Nenhum Anúncio listado</h4>
            </div>

            <div th:if="${anuncios != null}" class="table-responsive">
                <table style="width:100%" class="table table-bordered">
                    <tr>
                        <th>Titulo</th>
                        <th>Tipo</th>
                        <th>Postado</th>
                        <th>Preço</th>
                        <th>Ação</th>
                    </tr>

                    <th:block th:each="item : ${anuncios}">
                    <div id="modalServicoData" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Quando deseja contratar o serviço ?</h4>
                        </div>
                        <form th:th:action="@{/oi}" method="post" id="servicoForm">
                            <div align="center">
                                <h1>Data de contrato: </h1>
                                <input type="hidden" th:value="${item.id}" name="idAnuncio"/>
                                <input align="center" type="datetime-local" name="data" required="true"/>
                            </div>
                        </form>

                        <div class="modal-footer">
                            <button type="submit" form="servicoForm" value="Submit" class="btn btn-success" >Comprar</button>
                        </div>
                        </div>
                    </div>
                    </div>
                        <tr>
                            <td align="center" th:text="${item.titulo}"></td>
                            <td align="center" th:text="${#strings.toUpperCase(item.tipo.getName())}"> - </td>
                            <td align="center" th:text="${item.dataDeCriacao}"> - </td>
                            <td align="center" th:text="${'R$ ' + #numbers.formatDecimal(item.preco, 0, 'COMMA', 2, 'POINT')}">0.00</td>
                            <td th:if="${item.tipo.getName() != 'Serviço'}">
                                <form th:action="@{comprar/anuncio}" method="post">
                                    <div th:if="${item.anunciante != usuario}">
                                        <input type="hidden" th:value="${item.id}" name="idAnuncio"/>
                                        <button th:if="${item.tipo.getName() != 'Emprego' and item.tipo.getName() != 'Serviço'}" type="submit" class="btn btn-success">Comprar</button>
                                        <button th:if="${item.tipo.getName() == 'Emprego'}" type="submit" class="btn btn-success">Aderir</button>
                                    </div>
                                </form>
                                <form th:th:action="@{avaliar/anuncio}" method="post">
                                    <div th:if="${item.anunciante != usuario}">
                                        <input type="hidden" th:value="${item.id}" name="idAnuncio"/>
                                        <button type="submit" class="btn btn-warning">Avaliar</button>
                                    </div>
                                </form>
                            </td>
                            <td th:if="${item.tipo.getName() == 'Serviço'}">
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalServicoData">Open Modal</button>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </th:block>
    </html>